body {
    background-color: #fed8f6;
  }
  
  h1 {
    background-color: #80ced6;
  }
  
  div {
    background-color: #d5f4e6;
  }
  
  span {
    background-color: #f173c7;
  }

  div{
    float:left;
    margin-right:5px;
}

div > img{
   height:200px;
    width:200px;
}

p{
    text-align:center;
}
div{ text-align: left;

}
body {
    padding: 20px;
    font-size: 20px;
  }
  

  
  #Overflow {
    overflow-wrap: break-word;
    hyphens: auto;
  }